@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://www.realtimecolors.com/?colors=090d15-e7ebf3-0051ff-9ba7bf-1950be&fonts=Poppins-Poppins */
@layer base {
  :root {
    --background: 231 235 243;
    --foreground: 9 13 21;
    --primary: 0 81 255;
    --secondary: 155 167 191;
    --accent: 246 33 118;
    --danger: 217 83 79;
  }

  .dark {
    --background: 12 16 24;
    --foreground: 234 238 246;
  }
}

@layer base {
  .mc-root {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}
